header.header 
  .header-wrapper.d-flex.align-items-center.justify-content-between
    .header-item
      .header-btn-menu 
        img(src="./assets/icons/icon-menu-brown.svg", alt="")
    .header-item.d-flex.align-items-center 
      a(href="#").item-mail
        img(src="./assets/icons/icon-email.svg", alt="")
      .item-account.d-flex.align-items-center 
        span.account-name John Smith 
        img(src="./assets/icons/icon-angle-down.svg", alt="")
