//- jQuery
script(src="./assets/js/jquery.min.js") 

//- Bootstrap JS
script(src="./assets/js/popper.min.js") 
script(src="./assets/js/bootstrap.min.js") 

//- Material JS
script(src="./assets/js/material-components-web.min.js") 

//- Chart JS
script(src="./assets/js/chart.min.js") 

//- Moment Js
script(src="./assets/js/moment.min.js") 

//- Date Range Picker
script(src="./assets/js/daterangepicker.min.js") 