header.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 2;
  @include box-shadow;
  .header-wrapper {
    padding: 0 30px;
    height: 50px;
    .header-item {
      .item-mail,
      .header-btn-menu {
        width: 20px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      .item-mail {
        margin-right: 25px;
        img {
          transform: translateY(-1px);
        }
      }
      .item-account {
        font-size: 14px;
        font-weight: 600;
        img {
          width: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}