extends includes/layout/layout.pug
block pages
  include includes/components/mdc-button.pug
  include includes/components/mdc-text-field.pug
  include includes/components/mdc-select.pug
  include includes/components/mdc-tooltip.pug

  .app-main-body 
    +MdcTooltip({ title: 'Search', id: 'tooltip-search' })
    +MdcTooltip({ title: 'Download', id: 'tooltip-download' })


    .app-body-header
      .app-des Communications
      .app-title Communications List
    .app-body-main
      .communications-page
        .table-main-wrapper 
          form(action="#").custom-style-form.table-main-header.d-flex.align-items-center.justify-content-between.flex-wrap
            .header-item.d-flex.align-items-center.flex-wrap
              +MdcTextField({ type: 'date', placeholder: "Publish Date", id: 'selectDate' })
              +MdcSelect({ idLabel: 'type', idSelectedText: 'type', placeholder: 'Type',  dataSelectOptions: [{ title: 'Type 1', value: 'type-1' }, { title: 'Type 2', value: 'type-2' }] })
              
            .header-item.d-flex.align-items-center.flex-wrap
              +MdcButton({ icon: './assets/icons/icon-search.svg', tooltipId: 'tooltip-search' })
              +MdcButton({ icon: './assets/icons/icon-download.svg', tooltipId: 'tooltip-download' })
              .dropdown.hide-arrow
                .mdc-button-wrapper.dropdown-toggle#accountDropdown(data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false") 
                  .mdc-button(class=`mdc-button--raised`)
                    .mdc-button__ripple
                    span.mdc-button__label.mr-2 Add New
                    span.mdc-button__label.arrow-block
                      img(src=`./assets/icons/icon-angle-down-white.svg`, alt="")
                
                .header-dropwdown.dropdown-menu.dropdown-menu-right(aria-labelledby="accountDropdown")
                  ul.mdc-list
                    each item, index in ['MAILBOX', 'POPUP']
                      li.mdc-list-item
                        span.mdc-list-item__ripple
                        a(href="#").mdc-list-item__text
                          = item
              
          .table-main
            .table-main-body 
              table 
                thead 
                  tr 
                    td.center.nowrap Publish Date & TIme
                    td Title
                    td.center.nowrap Type
                    td.table-action
                tbody 
                  each item in [1,2,3,4,5,6,7,8,9,10]
                    tr 
                      td.center.nowrap 01/03/2021, 10:30AM          
                      td.min-width-150 Upcoming Property Showcase
                      td.nowrap.center Mailbox
                      td.table-action.center 
                        a(href="#").table-see-more
                          img(src="./assets/icons/icon-eye.svg", alt="")

            .table-main-footer.d-flex.align-items-center.justify-content-end 
              .table-page-info 1 - 10 of 33
              form(action="#").table-page-action.d-flex.align-items-center
                button.action-icon(disabled)
                  img(src="./assets/icons/icon-angle-line-left.svg", alt="")
                button.action-icon(disabled)
                  img(src="./assets/icons/icon-angle-left.svg", alt="")
                .action-page Page 1
                button.action-icon
                  img(src="./assets/icons/icon-angle-line-right.svg", alt="")
                button.action-icon
                  img(src="./assets/icons/icon-angle-right.svg", alt="")