extends includes/layout/layout.pug
block pages
  include includes/components/mdc-button.pug
  include includes/components/mdc-select.pug
  include includes/components/mdc-tooltip.pug
  include includes/components/mdc-text-field.pug
  include includes/components/mdc-checkbox.pug

  .app-main-body 
    +MdcTooltip({ title: 'Table', id: 'tooltip-table' })
    +MdcTooltip({ title: 'Search', id: 'tooltip-search' })
    +MdcTooltip({ title: 'Download', id: 'tooltip-download' })

    .app-body-header
      .app-des Discover / #[strong Existing Properties]
      .app-title.d-flex.align-items-center.justify-content-between
        |Existing Properties
        .button-group.d-flex.custom-style-form.table-main-wrapper
          +MdcButton({ icon: './assets/icons/icon-list-gray.svg', tooltipId: 'tooltip-table', className: 'mr-2' })
          +MdcButton({ icon: './assets/icons/icon-search.svg', tooltipId: 'tooltip-search', className: 'mr-2' })
          +MdcButton({ icon: './assets/icons/icon-download.svg', tooltipId: 'tooltip-download', className: 'mr-2' })
          +MdcButton({ title: 'Add Property' })
    .app-body-main
      .lists-page-wrapper.d-flex.flex-wrap.align-items-start
        .list-items.action 
          .section-card-style 
            form(action="#").custom-style-form
              .form-group
                .form-item 
                  +MdcTextField({ type: 'date', placeholder: "Launch Date", id: 'selectDate' })

              .line

              .form-group.d-block.checkbox-group.tab-expand-group
                .form-item.tab-expand-click-self.tab-expand-item.checkboxes-group-wrapper
                  .tab-header.d-flex.align-items-center.justify-content-between.checkbox-parent
                    +MdcCheckbox({ label: 'Property Type', id: 'property-type' })
                    img(src="./assets/icons/icon-angle-up-gray.svg", alt="")

                  .checkbox-child.tab-body 
                    +MdcCheckbox({ label: 'Integreated Dev', id: 'integreated-dev' })
                    +MdcCheckbox({ label: 'Commercial', id: 'commercial' })
                    +MdcCheckbox({ label: 'Residential', id: 'residential' })

        .list-items.lists.d-flex.flex-wrap 
          each item in [1,2,3,4,5,6]
            .section-card-style.d-flex.align-items-center.flex-wrap
              .card-image 
                img(src="./assets/images/image-thumbnail.png", alt="")
              .card-content.section-card-body
                .card-title.big Guoco Tower 
                .card-des Integrated Development 
                a(href="tel: 9876 5432").card-link 9876 5432
                a(href="mailto: info@guocotower.com").card-link info@guocotower.com
                .card-des 1 Wallich St, S078881 
                .card-des Launched On 01/01/2010
