extends includes/layout/layout.pug
block pages
  include includes/components/mdc-button.pug
  include includes/components/mdc-text-field.pug
  include includes/components/mdc-checkbox.pug

  form(action="#").app-main-body 
    .app-body-header
      .app-des Backend Access / Role List / #[strong New Role]
      .app-title.d-flex.align-items-center.justify-content-between
        |New Role
        .button-group.d-flex.custom-style-form
          +MdcButton({ title: 'Cancel', className: 'mr-2', isOutline: true })
          +MdcButton({ title: 'Save', className: 'form-save-btn' })
          
    .app-body-main
      .role-add-page
        .tab-expand-group 
          .tab-expand-item.section-card-style.form-validation
            .tab-header.d-flex.justify-content-between.align-items-center.tab-expand-click-self
              span Role Details
              img(src="./assets/icons/icon-angle-up-white.svg", alt="")
            .tab-body 
              .custom-style-form
                .form-group
                  .form-item.form-input-validation(data-rules="required" data-name="Role Name")
                    label.form-label Role Name *
                    +MdcTextField({ type: 'text', placeholder: 'Role Name' })
                    .form-message

                .form-checkbox-group-validation(data-rules="checked" data-name="Role")
                  .form-group.d-flex.flex-wrap.checkbox-group.auto
                    .form-item.checkboxes-group-wrapper
                      .checkbox-parent 
                        +MdcCheckbox({ label: 'Users', id: 'users' })
                      .checkbox-child 
                        +MdcCheckbox({ label: 'All Users', id: 'all-users' })
                        +MdcCheckbox({ label: 'Reference Codes', id: 'reference-code' })
                    .form-item.checkboxes-group-wrapper
                      .checkbox-parent 
                        +MdcCheckbox({ label: 'Discover', id: 'discover' })
                      .checkbox-child 
                        +MdcCheckbox({ label: 'Existing Properties', id: 'existing-properties' })
                        +MdcCheckbox({ label: 'Upcoming Launches', id: 'upcoming-launches' })
                        +MdcCheckbox({ label: 'Media Coverage', id: 'media-coverage' })
                        +MdcCheckbox({ label: 'Contact Info', id: 'contact-info' })

                    .form-item.checkboxes-group-wrapper
                      .checkbox-parent 
                        +MdcCheckbox({ label: 'Merchants', id: 'merchants' })
                      .checkbox-child 
                        +MdcCheckbox({ label: 'All Merchants', id: 'all-merchants' })
                        +MdcCheckbox({ label: 'All Privileges', id: 'all-privileges' })
                    .form-item.checkboxes-group-wrapper
                      .checkbox-parent 
                        +MdcCheckbox({ label: 'Events', id: 'events' })
                      +MdcCheckbox({ label: 'Communications', id: 'communications' })
                      +MdcCheckbox({ label: 'Reports', id: 'reports' })
                    .form-item.checkboxes-group-wrapper
                      .checkbox-parent 
                        +MdcCheckbox({ label: 'FAQ', id: 'FAQ' })
                      +MdcCheckbox({ label: 'Mailbox', id: 'mailbox' })
                    .form-item.checkboxes-group-wrapper
                      .checkbox-parent 
                        +MdcCheckbox({ label: 'Backend Access', id: 'backend-access' })
                      .checkbox-child 
                        +MdcCheckbox({ label: 'Access List', id: 'access-list' })
                        +MdcCheckbox({ label: 'Role List', id: 'role-list' })

                  .form-message

        a(href="#").back-page.d-flex.align-items-center
            img(src="./assets/icons/icon-arrow-left-brown.svg", alt="")
            |Back to All Roles