.modal.fade(tabindex="-1" role="dialog")#modal-faq-add
  .modal-dialog(role="document").modal-dialog-centered
    .modal-content 
      .modal-header 
        h5.modal-title New FAQ
      .modal-body 
        form(action="#").custom-style-form
          .form-group 
            .form-item 
              .form-label Category *
              +MdcSelect({ idLabel: 'category', idSelectedText: 'category', placeholder: 'Select Category',  dataSelectOptions: [{ title: 'Category 1', value: 'category-1' }, { title: 'Category 2', value: 'category-2' }] })

          .form-group 
            .form-item 
              .form-label Question *
              +MdcTextField({ type: 'text', placeholder: 'Question' })

          .form-group 
            .form-item 
              +MdcTextField({ type: 'textarea', placeholder: 'Answer' })

          .form-group(data-dismiss="modal").justify-content-center
            +MdcButton({ title: 'Cancel', isOutline: true, className: 'm-2' })
            +MdcButton({ title: 'Save', className: 'm-2' })
